<div style="text-align:center">
  <!--
  <h1>
    {{title}}
  </h1>
  -->
  <div class="chat-container">
    <div class="chat">
      <div class="message"></div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="send-button">

    
    <input  id="input" type="text" #input>
    <div class="send" (click)="sendMessage(input.value)">
      <button>Mac</button> 
    </div>
    <input  id="cadastro" type="text" #cadastro>
    <div class="send" (click)="login(cadastro.value)">
      <button>Log</button> 
    </div>
  </div>

</div>