<div style="text-align:center">
  <!--
  <h1>
    {{title}}
  </h1>
  -->
  <div class="chat-container">
    <div class="chat">
      <!--
        <div class="message">Teste</div>
      -->
      <div class="children" *ngFor="let positionContainer of positionContainers">
        <p>Serial: {{positionContainer.serial}}</p>
        <p>Material: {{positionContainer.material}}</p>
        <p>Descrição: {{positionContainer.descricao}}</p>
        <p>Position: {{positionContainer.position}}</p>
      </div>
    </div>
  </div>

  <div class="parent" *ngFor="let testContainer of testContainers">
    <div class="Header">{{testContainer.testName}}         {{testContainer.testResult}}     {{testContainer.tagContainer.length}}</div>
    <div class="children" *ngFor="let tagContainer of testContainer.tagContainer">
      <p>{{tagContainer.log}}</p>
      <p>{{tagContainer.descricao}}</p>
      <p>{{tagContainer.errorMessage}}</p>
      <p>{{tagContainer.testResult}}</p>
    </div>
  </div>

  <div class="end-container">
    <div class="end">
      <div class="message">Teste end</div>
      <div class="children" *ngFor="let resultContainer of resultContainers">
        <p>Action: {{resultContainer.action}}</p>
        <p>Finished: {{resultContainer.finished}}</p>
        <p>Position: {{resultContainer.position}}</p>
        <p>Result: {{resultContainer.result}}</p>
        <p>Status: {{resultContainer.status}}</p>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="send-button">
    <input  id="input" type="text" #input>
    <div class="send" (click)="sendMessage(input.value)">
      <button>Mac</button> 
    </div>
    <input  id="cadastro" type="text" #cadastro>
    <div class="send" (click)="login(cadastro.value)">
      <button>Log</button> 
    </div>
    <input  id="resp" type="text" #resp>
    <div class="send" (click)="response(resp.value)">
      <button>Resp</button> 
    </div>
    <input  id="inputField" type="text" #inputField>
    <div class="send" (click)="inputResponse(inputField.value)">
      <button>Input</button> 
    </div>
    <input  id="endSession" type="text" #inputField>
    <div class="send" (click)="endSessionResponse(inputField.value)">
      <button>end</button> 
    </div>
    <input  id="stop" type="text" #stop>
    <div class="send" (click)="stopRoutine(stop.value)">
      <button>Stop</button> 
    </div>
    <input  id="stop" type="text" #stop>
    <div class="send">
    <a [routerLink]="['/test']">Forms</a>
    </div>
  </div>
</div>